cluster:
  secretName: mysql-secret
  instances: 3
  routerInstances: 1
  tlsUseSelfSigned: true

persistence:
  storageClassName: longhorn-dev
  size: 10Gi
  accessModes:
    - ReadWriteOnce

mycnf: |
  [mysqld]
  plugin-load-add = mysql_native_password=auth_native_password.so
  local_infile = 1
  