cluster:
  secretName: mysql-secret
  instances: 2
  routerInstances: 1
  tlsUseSelfSigned: true
  
  podSpec:
    nodeSelector:
      kubernetes.io/arch: amd64

router:
  instances: 1
  podSpec:
    nodeSelector:
      kubernetes.io/arch: amd64

persistence:
  storageClassName: longhorn-dev
  size: 10Gi
  accessModes:
    - ReadWriteOnce

mycnf: |
  [mysqld]
  plugin-load-add = mysql_native_password=auth_native_password.so
  local_infile = 1
  