apiVersion: mysql.oracle.com/v2
kind: InnoDBCluster
metadata:
  name: {{ .Release.Name }}
  namespace: {{ .Release.Namespace }}
spec:
  secretName: {{ .Values.cluster.secretName }}
  instances: {{ .Values.cluster.instances | default 3 }}
  router:
    {{- toYaml .Values.cluster.router | nindent 4 }}
  secretName: mysql-secret
  tlsUseSelfSigned: {{ .Values.cluster.tlsUseSelfSigned | default true }}
  
  {{- if .Values.cluster.podSpec }}
  podSpec:
    {{- toYaml .Values.cluster.podSpec | nindent 4 }}
  {{- end }}

  datadirVolumeClaimTemplate:
    {{- with .Values.persistence.accessModes }}
    accessModes: 
      {{- toYaml . | nindent 6 }}
    {{- end }}
    {{- if .Values.persistence.storageClassName }}
    storageClassName: {{ .Values.persistence.storageClassName }}
    {{- end }}
    resources:
      requests:
        storage: {{ .Values.persistence.size }}

  {{- with .Values.mycnf }}
  mycnf: |
    {{- . | nindent 4 }}
  {{- end }}
